apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: rabbitmq-pubsub
spec:
  type: pubsub.rabbitmq
  version: v1
  metadata:
    - name: host
      value: "$RABBITMQ_HOST"
    - name: vHost
      value: "$RABBITMQ_VHOST"
    - name: username
      value: "$RABBITMQ_USERNAME"
    - name: password
      value: "$RABBITMQ_PASSWORD"
    - name: durable
      value: "true"
    - name: deletedWhenUnused
      value: "false"
    - name: autoAck
      value: "false"
    - name: deliveryMode
      value: "2" # Persistent messages
    - name: requeueInFailure
      value: "true"
    - name: prefetchCount
      value: "10"
    - name: reconnectWait
      value: "5s"
    - name: concurrency
      value: "parallel"
scopes:
  - agent_blueprint
